.navbar-nav{
	display: none !important;
}
.glyphicon-chevron-left{
	display: none !important;
}

#mapwrap{
	height: 468px !important;
}
#my-map{
	height: 700px;
	width:700px;
}
.chart-wrapper{
	min-height: 386px;
}